{% extends 'users/base-profile.html' %}
{% load static %}

{% block css-js %}
<link rel="stylesheet" href="{% static 'vendor/css/profile.css' %}">
{% endblock %}



{% block content %}
<section>
    <div class="main_wrapper">
        <div class="row-container">
            <div class="row">
                <h2>Добро пожаловать Пользователь!</h2>
                <div class="nav_menu">
                    <a class="nav_item" href="{% url 'users:user_profile' %}"><img src="{% static 'vendor/img/svg_icons/user.svg' %}" alt="img"><span>Персональные данные</span></a>
                    <a class="nav_item" href="{% url 'users:user_orders' %}"><img src="{% static 'vendor/img/svg_icons/package.svg' %}" alt="img"><span>Покупки</span></a>
                    <a class="nav_item" href="{% url 'users:user_favorites' %}"><img src="{% static 'vendor/img/svg_icons/heart.svg' %}" alt="img"><span>Избранные</span></a>
                    <a class="nav_item active" href="{% url 'users:user_password' %}"><img src="{% static 'vendor/img/svg_icons/lock.svg' %}" alt="img"><span>Изменить пароль</span></a>
                </div>
            </div>
        </div>
        <div class="nav_content">
            <h1>Персональные данные</h1>
            <form class="form" action="{% url 'users:user_profile' %}" method="post">
                {% csrf_token %}
                <h5>СТАРЫЙ ПАРОЛЬ</h5>
                <input class="form-input" type="password">
                <br>
                <h5>НОВЫЙ ПАРОЛЬ</h5>
                <input class="form-input" type="password">
                <button class="form-btn" type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}