{% extends 'users/base-profile.html' %}
{% load static %}

{% block css-js %}
<link rel="stylesheet" href="{% static 'vendor/css/profile.css' %}">
{% endblock %}



{% block content %}
<section>
    <div class="main_wrapper">
        <div class="row-container">
            <div class="row">
                <h2>Добро пожаловать Пользователь!</h2>
                <div class="nav_menu">
                    <a class="nav_item" href="{% url 'users:user_profile' %}"><img src="{% static 'vendor/img/svg_icons/user.svg' %}" alt="img"><span>Персональные данные</span></a>
                    <a class="nav_item" href="{% url 'users:user_orders' %}"><img src="{% static 'vendor/img/svg_icons/package.svg' %}" alt="img"><span>Покупки</span></a>
                    <a class="nav_item active" href="{% url 'users:user_favorites' %}"><img src="{% static 'vendor/img/svg_icons/heart.svg' %}" alt="img"><span>Избранные</span></a>
                    <a class="nav_item" href="{% url 'users:user_password' %}"><img src="{% static 'vendor/img/svg_icons/lock.svg' %}" alt="img"><span>Изменить пароль</span></a>
                </div>
            </div>
        </div>
        <div class="nav_content">
            <h1>Избранные</h1>
            <div class="favorite_container">
                <div class="product-card">
                    <a href="#">
                        <img src="{% static 'vendor/img/product_iamges/8.jfif' %}" alt="img">
                    </a>
                    <div class="card-content">
                        <h3 class="product-name">Название</h3>
                        <div class="price-block">
                            <span class="price">10000 ₽</span>
                            <span class="discount-price">10000 ₽</span>
                        </div>
                        <a class="favorite-btn" href="#">Удалить из избранного</a>
                    </div>
                </div>
                <div class="product-card">
                    <a href="#">
                        <img src="{% static 'vendor/img/product_iamges/1.jfif' %}" alt="img">
                    </a>
                    <div class="card-content">
                        <h3 class="product-name">Название</h3>
                        <div class="price-block">
                            <span class="price">10000 ₽</span>
                            <span class="discount-price">10000 ₽</span>
                        </div>
                        <a class="favorite-btn" href="#">Удалить из избранного</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}