{% extends 'users/base-profile.html' %}
{% load static %}

{% block css-js %}
<link rel="stylesheet" href="{% static 'vendor/css/profile.css' %}">
{% endblock %}



{% block content %}
<section>
    <div class="main_wrapper">
        <div class="row-container">
            <div class="row">
                <h2>Добро пожаловать Пользователь!</h2>
                <div class="nav_menu">
                    <a class="nav_item" href="{% url 'users:user_profile' %}"><img src="{% static 'vendor/img/svg_icons/user.svg' %}" alt="img"><span>Персональные данные</span></a>
                    <a class="nav_item active" href="#"><img src="{% static 'vendor/img/svg_icons/package.svg' %}" alt="img"><span>Покупки</span></a>
                    <a class="nav_item" href="{% url 'users:user_favorites' %}"><img src="{% static 'vendor/img/svg_icons/heart.svg' %}" alt="img"><span>Избранные</span></a>
                    <a class="nav_item" href="{% url 'users:user_password' %}"><img src="{% static 'vendor/img/svg_icons/lock.svg' %}" alt="img"><span>Изменить пароль</span></a>
                </div>
            </div>
        </div>
        <div class="nav_content">
            <h1>Покупки</h1>
            <div class="order_container">
                <div class="order">
                    <h2>Заказ №76894502</h2>
                    <div class="order-data">
                        <div class="order-col">
                            <h4>Заказ</h4>
                            <span>№76894502</span>
                        </div>
                        <div class="order-col">
                            <h4>Дата оформления</h4>
                            <span>23 Апрель 2019</span>
                        </div>
                        <div class="order-col">
                            <h4>Итоговая цена</h4>
                            <span>18 600 ₽</span>
                        </div>
                        <div class="order-col">
                            <h4>Статус</h4>
                            <span>Оплачен</span>
                        </div>
                        <div class="order-col col-btn" style="border: none;">
                            <a href="#" class="order-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <h2>Заказ №12494502</h2>
                    <div class="order-data">
                        <div class="order-col">
                            <h4>Заказ</h4>
                            <span>№12494502</span>
                        </div>
                        <div class="order-col">
                            <h4>Дата оформления</h4>
                            <span>23 Апрель 2019</span>
                        </div>
                        <div class="order-col">
                            <h4>Итоговая цена</h4>
                            <span>12300 ₽</span>
                        </div>
                        <div class="order-col">
                            <h4>Статус</h4>
                            <span>В пути</span>
                        </div>
                        <div class="order-col col-btn" style="border: none;">
                            <a href="#" class="order-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <h2>Заказ №72134502</h2>
                    <div class="order-data">
                        <div class="order-col">
                            <h4>Заказ</h4>
                            <span>№72134502</span>
                        </div>
                        <div class="order-col">
                            <h4>Дата оформления</h4>
                            <span>23 Апрель 2019</span>
                        </div>
                        <div class="order-col">
                            <h4>Итоговая цена</h4>
                            <span>12000 ₽</span>
                        </div>
                        <div class="order-col">
                            <h4>Статус</h4>
                            <span>Доставлен</span>
                        </div>
                        <div class="order-col col-btn" style="border: none;">
                            <a href="#" class="order-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}